.display-infor-container {
    .red {
        color: blueviolet
    }
      
    .green {
        color: green;
    }

    button {
        background-color: orange;
        cursor: pointer;
    }

    img {
        width: 200px;
        height: 200px;
    }
}
